/* PHASE 3: Content */

.content {
  width: 900px;
  background: white;
  margin: auto;
  border-left: #aaa 1px solid;
  border-right: #aaa 1px solid;
}

.content-sidebar {
  width: 240px;
  float: left;
  box-sizing: border-box;
  padding: 20px
}

.content-main {
  width: 660px;
  float: left;
  box-sizing: border-box;
  padding: 20px
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.content p {

}
